.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Q6GldfI4rHYlml);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rmFv2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__g7Kff {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__p5CfW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__p5CfW > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__p5CfW > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__p5CfW > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__p5CfW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__p5CfW > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cVYm0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___55Ug {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___55Ug > picture > img {
  object-fit: cover;
}
.img___55Ug > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___6Tba {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns___6Tba > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6Tba {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6Tba > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___58Si6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___1APw3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___1APw3 {
    font-size: 20px;
  }
}
.text__njs0G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__cG0F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__by8MO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__sRuIl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__laIf {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg___10MtF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__vW8Dq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__pjb6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__pjb6 > picture > img {
  object-fit: cover;
}
.img__pjb6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__kcHaP {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__kcHaP > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kcHaP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kcHaP > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oMgr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___20Eyu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___20Eyu {
    font-size: 20px;
  }
}
.text__kXlcj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text___1ZWbT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__o30Kd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__gxDz4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__oSeeR {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__v4Lt2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fGiJy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__w5Je6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__w5Je6 > picture > img {
  object-fit: cover;
}
.img__w5Je6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__jcgoy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__jcgoy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jcgoy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jcgoy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hhg7S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__cjVz0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__cjVz0 {
    font-size: 20px;
  }
}
.text__s1Xx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text___5D3Xq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__qkVjD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__zCtEg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kt0V3 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg___0JvBl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns___9OWGt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns___9OWGt > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___9OWGt > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___9OWGt > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9OWGt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___9OWGt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__iL9X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__nhh1E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__nhh1E > picture > img {
  object-fit: cover;
}
.img__nhh1E > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__g5Fp0 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__g5Fp0 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__g5Fp0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__g5Fp0 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ubpBq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__a63RE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__a63RE {
    font-size: 20px;
  }
}
.text__mmo8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__p0CuO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__g7Kmo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__bgw1R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wAeOf {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__gBd6T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ap22 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__mX5PK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__mX5PK > picture > img {
  object-fit: cover;
}
.img__mX5PK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__dcryd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__dcryd > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dcryd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dcryd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ritxm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__fIlbB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__fIlbB {
    font-size: 20px;
  }
}
.text__xIsyV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__r2MMv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__vXjCx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___4VpwU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yWj36 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__soxqS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__nfOfT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__uWhZq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__uWhZq > picture > img {
  object-fit: cover;
}
.img__uWhZq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__g2GBj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__g2GBj > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__g2GBj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__g2GBj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pQhip {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__qOuc4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__qOuc4 {
    font-size: 20px;
  }
}
.text___6Wpjj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__ee5WG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__y4Ttl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___5Np5G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kJx3Y {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__nIh97 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
