.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Q6GldfI4rHYlml);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__d7Mtu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__hgUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__f7FYs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__f7FYs > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__f7FYs > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__f7FYs > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__f7FYs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__f7FYs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tyTai {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__b3R36 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__b3R36 > picture > img {
  object-fit: cover;
}
.img__b3R36 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__qsE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__qsE > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qsE {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qsE > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0TvWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__kuHab {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__b6Rp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__b6Rp {
    font-size: 20px;
  }
}
.text__amTl4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__mwoTl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b33LL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6S5Nz {
  font-size: 13px;
}
.svg___5ZVa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__c15B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__w2V4A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__w2V4A > picture > img {
  object-fit: cover;
}
.img__w2V4A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__pVqWe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__pVqWe > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pVqWe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pVqWe > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aaXpN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__aaXpN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__aaXpN > :global(.__wab_flex-container) > *,
.column__aaXpN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__aaXpN > :global(.__wab_flex-container) > picture > img,
.column__aaXpN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__gd8Cb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__ezvPe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__ezvPe {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__yaPrC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px;
}
.button__oNYqy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b7A25 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2ALx {
  font-size: 13px;
}
.svg__mk47P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___8VYk7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__erdop {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__erdop > picture > img {
  object-fit: cover;
}
.img__erdop > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__rows9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__rows9 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__rows9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__rows9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vEVyj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__q7ZQh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__j8Gk1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-coZ-dzpT3CN9xD);
  font-size: var(--token-ncWuRfc6gyIlxk);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__j8Gk1 {
    font-size: 20px;
  }
}
.text__xRsP9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__ollz3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b4IN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__drwnz {
  font-size: 13px;
}
.svg__pvgHd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
