.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-coZ-dzpT3CN9xD);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___2IbyK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__ej5Pi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__qy3Wv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__qy3Wv > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__qy3Wv > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__qy3Wv > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qy3Wv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qy3Wv > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nmwM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__mxaeX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__mxaeX > picture > img {
  object-fit: cover;
}
.img__mxaeX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__pSaNy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__pSaNy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pSaNy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pSaNy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xrFt9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__e9BZs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__e9BZs {
    font-size: 20px;
  }
}
.text__k3Vpq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__up35U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__cXVeG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__mVzJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xbXjK {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__hcZmk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cRMh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__gyoJa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__gyoJa > picture > img {
  object-fit: cover;
}
.img__gyoJa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__mrZB {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__mrZB > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mrZB {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mrZB > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fiTz6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__eW4Ds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__eW4Ds {
    font-size: 20px;
  }
}
.text__jRrgW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__iJl8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__c9G3P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___5CzrE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kB9 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__kOkth {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__rJwo1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__drYry {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__drYry > picture > img {
  object-fit: cover;
}
.img__drYry > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__enXJe {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__enXJe > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__enXJe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__enXJe > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sn0Ul {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___7UwwA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___7UwwA {
    font-size: 20px;
  }
}
.text__jDaoC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding-left: 0px;
  min-width: 0;
}
.text__e7SkU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__zGg0U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__qt1DZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fv3V4 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__nCvYq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__y6Bhd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__y6Bhd > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__y6Bhd > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__y6Bhd > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__y6Bhd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__y6Bhd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ikTgc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__x2IUx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__x2IUx > picture > img {
  object-fit: cover;
}
.img__x2IUx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__lUoLv {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__lUoLv > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lUoLv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lUoLv > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___04Rgn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__e3FJg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__e3FJg {
    font-size: 20px;
  }
}
.text__fEpOt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__myMaG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___8DeXr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___4NbC1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bTye {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__gi5K7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__viufg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__jj6Rp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__jj6Rp > picture > img {
  object-fit: cover;
}
.img__jj6Rp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__xYnQ {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__xYnQ > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xYnQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xYnQ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pD7Yb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__cnYhH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__cnYhH {
    font-size: 20px;
  }
}
.text__tzIb6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__zXYg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___53U6W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__ssFi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gVe4F {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__ew4A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fSnwR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__mD8E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__mD8E > picture > img {
  object-fit: cover;
}
.img__mD8E > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__sZiYp {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__sZiYp > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__sZiYp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__sZiYp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dyCp0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__nGynX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__nGynX {
    font-size: 20px;
  }
}
.text__wDqEn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__sBJp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___8Qx9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__ouK2N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___1IK8T {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__nAnq8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__zAmDy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__zAmDy > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zAmDy > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zAmDy > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zAmDy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zAmDy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ms04U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___30Lve {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___30Lve > picture > img {
  object-fit: cover;
}
.img___30Lve > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__pZLlo {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__pZLlo > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pZLlo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pZLlo > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tIeLj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__pm3Jp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__pm3Jp {
    font-size: 20px;
  }
}
.text___0C7F9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text___9AAIa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__vRbwx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__q9Fm2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zrd6Z {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__pray5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__elPZs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___2XL2D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___2XL2D > picture > img {
  object-fit: cover;
}
.img___2XL2D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ncXo {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__ncXo > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ncXo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ncXo > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__n09HA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___7TxEx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___7TxEx {
    font-size: 20px;
  }
}
.text__vFSos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__lWo3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__iaaBr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__wLlv4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___4Uvyr {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__cDq3B {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__yNrtH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__omOv9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__omOv9 > picture > img {
  object-fit: cover;
}
.img__omOv9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__dWeTg {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-il3bjU-KmEqhBM);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__dWeTg > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dWeTg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dWeTg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9F3Gz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__z8Xhc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-ncWuRfc6gyIlxk);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__z8Xhc {
    font-size: 20px;
  }
}
.text__ewA77 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-5dBERzaQ-OsJE9);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__eVhBt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__aQkxh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__vvdt1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nb4B8 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__mg2Xr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
