.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-coZ-dzpT3CN9xD);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__bjL2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__bjL2 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bjL2 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bjL2 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bjL2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bjL2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kLzc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__kLzc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column__kLzc > :global(.__wab_flex-container) > *,
.column__kLzc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__kLzc > :global(.__wab_flex-container) > picture > img,
.column__kLzc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text__xouKs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q6GldfI4rHYlml);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xouKs {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column__mjGw1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: var(--token-Q6GldfI4rHYlml);
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__mjGw1 {
    padding: 0px 8px;
  }
}
.h5__ruM7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__ruM7I {
    margin: 0px 0px 15px;
  }
}
.link___15BW2 {
  position: relative;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  align-self: auto;
  text-align: center;
  margin: 0px 0px 0.75em;
}
.link__ptUuD {
  position: relative;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link___4DVDa {
  position: relative;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link___8H7Xp {
  position: relative;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___8H7Xp {
    margin: 0px 0px 1.5em;
  }
}
.link__xeXlq {
  position: relative;
  color: var(--token-Q6GldfI4rHYlml);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.column___9Dg2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: var(--token-Q6GldfI4rHYlml);
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___9Dg2 {
    padding: 0px 8px;
  }
}
.h5___1KR2D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5___1KR2D {
    margin: 0px 0px 15px;
  }
}
.columns__k12Cn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-Q6GldfI4rHYlml);
  min-width: 0;
  border-style: solid;
}
.columns__k12Cn > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__k12Cn > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__k12Cn > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__k12Cn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__k12Cn > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__k12Cn > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__k12Cn > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__vAt8C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yDjK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__yDjK > picture > img {
  object-fit: cover;
}
.img__yDjK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__oJubE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yQnbF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__yQnbF > picture > img {
  object-fit: cover;
}
.img__yQnbF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__u7TqP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tNExq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tNExq > picture > img {
  object-fit: cover;
}
.img__tNExq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__nCw5E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-Q6GldfI4rHYlml);
  min-width: 0;
  border-style: solid;
}
.columns__nCw5E > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nCw5E > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nCw5E > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nCw5E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nCw5E > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nCw5E > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nCw5E > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__uNQ2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__o08Qv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__o08Qv > picture > img {
  object-fit: cover;
}
.img__o08Qv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__md7PP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___5ZHkx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5ZHkx > picture > img {
  object-fit: cover;
}
.img___5ZHkx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mZlg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__i0Ciq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__i0Ciq > picture > img {
  object-fit: cover;
}
.img__i0Ciq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text___4VlAp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-Q6GldfI4rHYlml);
  font-size: var(--token-xPiyGJ-NMnpJUo);
  min-width: 0;
  margin: 1em 0px 0px;
}
